body{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h3{
   text-align: left;
}
/*
.contenedor{
   
display: inline-table;
width:60%;
margin-left: 60px;   
  
    /*
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    */
}
*/
label{
    color: black;
}

.register-switch {
  height: 32px;
  margin-bottom: 15px;
  padding: 4px;
  background: #6db244;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
  background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}
.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.contenedor{
    margin-left: 60px;
}
.libreta{
    
    width: 100%;
}
input{
    width: 400px;
    display:block;
    padding: 5px;
    margin: 2px;
}
select{
    width: 200px;
     display:block;
    padding: 5px;
    margin: 2px;
}

p{
   margin: 0;
}

.button{
    
    display:inline-flex;
    align-content: center;
}
.registrar-button, .consultar-button{
    width: 100%;
    vertical-align:middle;
}
fieldset{
    margin-top: 30px;
  width: 50%;
  border:1px solid rgb(177, 177, 177);
  border-radius: 5px;
  position: relative;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 30px;
}

legend{
    
  background: #597081;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  box-shadow: 3px 3px 0 0 rgba(53,53,53,0.3);
  padding: 7px;
  top: -11px;
  -moz-box-shadow: 2px 2px 4px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  text-shadow: 1px 1px 1px #333;

}

label{
    width: 220px;    
    float: left;
    padding: 0;
}
table{
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #e3e7fa;
    /*border-radius:10px;*/
    /*box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);*/
    font-size: 12px;

  }
/*Definimos color para los encabezos de la tabla*/
 table th{
    background: #f4f4f4;
    text-align: center;    
}

/*Definimos los bordes de la tabla*/
table, td{
    border-collapse: collapse;
    text-align: center;
   
}

tbody tr:hover{
    background: #99c4b0;
    color: #fff;
    cursor: pointer;
}

.registrar, .conaulta .consultar2{
    display: block;
}

.consultar-button{
    display: none;
}