/*Definimos las propiedades para la apariencia del formulario*/
.formulario{
    width: 700px;
    height: 480px;
    max-width: 100%;
    margin: auto;
    margin-top: -350px;
    padding: 30px;
    box-shadow: 0 0 10px 1px rgba(1,1,1,1.3);
    position: relative;
    border-radius: 10px;
    background: #091242;
    
}

/*Definimos la alineacion de elementos del formulario y tamaño*/
.formulario__input, .formulario__label, .formulario__submit{
     display: block;
     width: 90%;
     font-size:0.99em;
    
}
/*Definimos la apariencia de los input*/
.formulario__input{
    padding: 15px;
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 10px;
    border-radius: 4px;
    margin-left: 10px;   
}


/*Cambiamos el color de borde los input al dar enfoque*/
.formulario__input:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}


/*Definimos la aparicencia del input submit*/
.formulario__submit{
    background:  rgba(0,0,0,0.7);    
    color: white;
    padding: 15px 20px;
    cursor:pointer;
    border: 1px solid blue;;
	border-radius: 4px;
    width: 96%;
	align-self: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
    background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #0B0B3B);
    background-color: #fff;
}


.info__columna__contacto {

  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
    
}

/*------------------Estilos responsive------------------*/

@media(min-width:480px) {
 
  .info__columna__contacto  {
    width: 40%;
    margin-left: 380px;
  }
 
}

  